<button class="btn container my-20 max-w-lg block mx-auto height: 100vh">
  <span class="loading loading-spinner"></span>
  loading
</button>
<%= javascript_include_tag "new", "data-turbo-track": "reload", defer: true %>
