<footer class="text-gray-600 body-font">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
      <%= image_tag "4.png", alt: "Description of Image", class: "w-10 h-10 rounded-full" %>
      <span class="ml-3 text-xl">osiMemories</span>
    </a>
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2023 osiMemories —
      <a href="https://twitter.com/SoikawaC" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@SoikawaC</a>
    </p>
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
      <div class="flex justify-center text-sm border-r-2 border-gray-200 mr-4 pr-4">
        <div class="flex align-middle px-2">
          <%= link_to "Terms of Service", "#", class: 'hover:underline' %>
        </div>
        <div class="flex align-middle px-2">
          <%= link_to "Privacy Policy", "#", class: 'hover:underline' %>
        </div>
        <div class="flex align-middle px-2">
          <%= link_to "Contact", 'https://docs.google.com/forms/d/1M8aGrd3j7y7GlOPqnM_RMfcf8RVxUsMgEKpydyHkcug/prefill', target: :_blank, rel: 'noopener noreferrer', class: 'hover:underline' %>
        </div>
      </div>
      <!-- Twitter -->
      <a href="https://twitter.com/intent/tweet?text=推しと一緒に過ごしたい人におすすめのサイトだよ &url=https://railsgirls-chihiro.fly.dev" target="_blank" class="text-gray-500">
        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
        </svg>
      </a>
      <!-- Instagram -->
      <a href="https://www.instagram.com/" target="_blank" class="ml-3 text-gray-500">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
          <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
        </svg>
      </a>
    </span>
  </div>
</footer>
