<div class='my-20 max-w-lg mx-auto'>
  <div>
    <%= image_tag "Angelina.png", class:'block mx-auto' %>
  </div>
  <div class='text-center pt-20'>
    <%= link_to 'みんなの推しアルバム', public_albums_path, class:'btn btn-primary', data: { turbo: false } %>
  </div>
</div>
