<div class="mx-3">
  <div class="text-blue-900 font text-2xl tracking-wider text-center py-6">
    <%= t('.title') %>
  </div>

  <div class="text-gray-700 text-sm">
    <div class="pb-6">
      <p class="text-lg text-center pb-3">利用規約</p>
      <p>
        この利用規約（以下、「本規約」といいます。）は、
        <%= t('defaults.app_name') %>
        （以下、「当社」といいます。）がこのウェブサイト上で提供するサービス（以下、「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下、「ユーザー」といいます。）には、本規約に従って、本サービスをご利用いただきます。
      </p>
    </div>

    <div class="pl-5">
      <div class="pb-6">
        <p class="text-lg text-center py-3">第1条（適用）</p>
        <ol class="list-decimal">
          <li>本規約は、ユーザーと当社との間の本サービスの利用に関わる一切の関係に適用されるものとします。</li>
          <li>当社は本サービスに関し、本規約のほか、ご利用にあたってのルール等、各種の定め（以下、「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず、本規約の一部を構成するものとします。</li>
          <li>本規約の規定が前条の個別規定の規定と矛盾する場合には、個別規定において特段の定めなき限り、個別規定の規定が優先されるものとします。</li>
        </ol>
      </div>

      <div class="pb-6">
        <p class="text-lg text-center py-3">第2条（利用登録）</p>
        <ol class="list-decimal">
          <li>本サービスにおいては、登録希望者が本規約に同意の上、当社の定める方法によって利用登録を申請し、当社がこの承認を登録希望者に通知することによって、利用登録が完了するものとします。</li>
          <li>
            当社は、利用登録の申請者に以下の事由があると判断した場合、利用登録の申請を承認しないことがあり、その理由については一切の開示義務を負わないものとします。
            <ul class="list-disc">
              <li>利用登録の申請に際して虚偽の事項を届け出た場合</li>
              <li>本規約に違反したことがある者からの申請である場合</li>
              <li>その他、当社が利用登録を相当でないと判断した場合</li>
            </ul>
          </li>
        </ol>
      </div>

      <p class="text-lg text-center py-3">第3条（禁止事項）</p>
      <p>ユーザーは、本サービスの利用にあたり、以下の行為をしてはなりません。</p>
      <div class="pl-5">
        <ol class="list-decimal">
          <li>法令または公序良俗に違反する行為</li>
          <li>犯罪行為に関連する行為</li>
          <li>当社、本サービスの他のユーザー、または第三者のサーバーまたはネットワークの機能を破壊したり、妨害したりする行為</li>
          <li>当社のサービスの運営を妨害するおそれのある行為</li>
          <li>他のユーザーに関する個人情報等を収集または蓄積する行為</li>
          <li>不正アクセスをし、またはこれを試みる行為</li>
          <li>他のユーザーに成りすます行為</li>
          <li>当社のサービスに関連して、反社会的勢力に対して直接または間接に利益を供与する行為</li>
          <li>当社、本サービスの他のユーザーまたは第三者の知的財産権、肖像権、プライバシー、名誉その他の権利または利益を侵害する行為</li>
          <li>
            以下の表現を含み、または含むと当社が判断する内容を本サービス上に投稿し、または送信する行為
            <ul class="list-disc">
              <li>過度に暴力的な表現</li>
              <li>露骨な性的表現</li>
              <li>人種、国籍、信条、性別、社会的身分、門地等による差別につながる表現</li>
              <li>自殺、自傷行為、薬物乱用を誘引または助長する表現</li>
              <li>その他反社会的な内容を含み他人に不快感を与える表現</li>
            </ul>
          </li>
          <li>
            以下を目的とし、または目的とすると当社が判断する行為
            <ul class="list-disc">
              <li>営業、宣伝、広告、勧誘、その他営利を目的とする行為（当社の認めたものを除きます。）</li>
              <li>性行為やわいせつな行為を目的とする行為</li>
              <li>面識のない異性との出会いや交際を目的とする行為</li>
              <li>他のユーザーに対する嫌がらせや誹謗中傷を目的とする行為</li>
              <li>当社、本サービスの他のユーザー、または第三者に不利益、損害または不快感を与えることを目的とする行為</li>
              <li>その他本サービスが予定している利用目的と異なる目的で本サービスを利用する行為</li>
              <li>宗教活動または宗教団体への勧誘行為</li>
              <li>その他、当社が不適切と判断する行為</li>
            </ul>
          </li>
        </ol>
      </div>

      <div class="pl-5 pb-6">
        <p class="text-lg text-center py-3">第4条（本サービスの提供の停止等）</p>
        <ol class="list-decimal">
          <li>
            当社は、以下のいずれかの事由があると判断した場合、ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。
            <ul class="list-disc">
              <li>本サービスにかかるコンピュータシステムの保守点検または更新を行う場合</li>
              <li>地震、落雷、火災、停電または天災などの不可抗力により、本サービスの提供が困難となった場合</li>
              <li>コンピュータまたは通信回線等が事故により停止した場合</li>
              <li>その他、当社が本サービスの提供が困難と判断した場合</li>
            </ul>
          </li>
          <li>当社は、本サービスの提供の停止または中断により、ユーザーまたは第三者が被ったいかなる不利益または損害についても、一切の責任を負わないものとします。</li>
        </ol>
      </div>

      <div class="pb-6">
        <p class="text-lg text-center py-3">第5条（著作権）</p>
        <ol class="list-decimal">
          <li>ユーザーは、自ら著作権等の必要な知的財産権を有するか、または必要な権利者の許諾を得た文章、画像や映像等の情報に関してのみ、本サービスを利用し、投稿ないしアップロードすることができるものとします。</li>
          <li>ユーザーが本サービスを利用して投稿ないしアップロードした文章、画像、映像等の著作権については、当該ユーザーその他既存の権利者に留保されるものとします。ただし、当社は、本サービスを利用して投稿ないしアップロードされた文章、画像、映像等について、本サービスの改良
          <li>
            当社は、本サービスを利用して投稿ないしアップロードされた文章、画像、映像等について、本サービスの改良、宣伝、広告等に利用することができるものとします。
          </li>
          <li>
            前項本文の定めは、ユーザーが本サービスを退会した場合または本利用契約が解除された場合も有効です。
          </li>
          <li>
            ユーザーは、本サービスを利用して投稿ないしアップロードする情報について、他のユーザーが当該情報を本サービスの利用範囲で利用することを許諾するものとします。
          </li>
          <li>
            ユーザーは、本サービスを利用して他のユーザーが投稿ないしアップロードした情報を、本サービスの利用範囲を超えて利用することはできません。
          </li>
        </ol>
      </div>

      <div class="pb-6">
        <p class="text-lg text-center py-3">第6条（利用制限及び登録抹消）</p>
        <ol class="list-decimal">
          <li>
            当社は、以下の場合には、事前の通知なくユーザーに対して本サービスの全部または一部の利用を制限し、またはユーザーとしての登録を抹消することができるものとします。
            <ul class="list-disc">
              <li>本規約のいずれかの条項に違反した場合</li>
              <li>登録事項に虚偽の事実があることが判明した場合</li>
              <li>料金等の支払債務の不履行があった場合</li>
              <li>当社からの連絡に対し、一定期間返答がない場合</li>
              <li>本サービスについて、最終の利用から一定期間利用がない場合</li>
              <li>その他、当社が本サービスの利用を適当でないと判断した場合</li>
            </ul>
          </li>
          <li>
            前各号のいずれかに該当した場合、ユーザーは、当然に当社に対して、本サービスの利用に関する一切の債務について期限の利益を失い、直ちに全ての債務を弁済しなければなりません。
          </li>
          <li>
            当社は、本条に基づき当社が行った行為によりユーザーに生じた損害について、一切の責任を負いません。
          </li>
        </ol>
      </div>

      <div class="pb-6">
        <p class="text-lg text-center py-3">第7条（保証の否認及び免責事項）</p>
        <ol class="list-decimal">
          <li>
            当社は、本サービスの提供開始時点で、本サービスがユーザーの特定の目的に適合すること、本サービスに関する技術的な問題またはエラーが存在しないこと、および不具合が生じないことについて、明示または黙示を問わず何ら保証するものではありません。
          </li>
          <li>
            当社の都合により本サービスの提供が終了する場合には、当社はユーザーに事前に通知し、または公告します。当社は、本サービスの提供の終了によりユーザーまたは第三者が被ったいかなる不利益または損害についても、一切の責任を負わないものとします。
          </li>
          <li>
            当社は、本サービスに関してユーザーと他のユーザーまたは第三者との間に生じた取引、連絡、紛争等については一切責任を負わないものとします。
          </li>
        </ol>
      </div>

      <div class="pb-6">
        <p class="text-lg text-center py-3">第8条（サービス内容の変更等）</p>
        <p>
          当社は、ユーザーに通知することなく、本サービスの内容を変更し、または本サービスの提供を終了することができるものとします。当社は、このような本サービスの内容の変更または提供終了によりユーザーまたは第三者が被ったいかなる不利益または損害についても、一切の責任を負わないものとします。
        </p>
      </div>

      <div class="pb-6">
        <p class="text-lg text-center py-3">第9条（利用規約の変更）</p>
        <p>
        <p>
          当社は、必要と判断した場合には、ユーザーに通知することなくいつでも本規約を変更することができるものとします。ただし、法令上ユーザーに通知することが必要な変更を行う場合、当該変更については、当社所定の方法によりユーザーに通知します。
        </p>
        <p>
          本規約の変更後、本サービスの利用を開始した場合には、ユーザーは変更後の規約に同意したものとみなされます。
        </p>
      </div>

      <div class="pb-6">
        <p class="text-lg text-center py-3">第10条（個人情報の取扱い）</p>
        <p>
          当社は、本サービスの利用によって取得する個人情報については、当社「プライバシーポリシー」に従い適切に取り扱うものとします。
        </p>
      </div>

      <div class="pb-6">
        <p class="text-lg text-center py-3">第11条（通知または連絡）</p>
        <p>
          ユーザーと当社との間の通知または連絡は、当社の定める方法によって行うものとします。当社は、ユーザーから、当社が別途定める方式に従った変更届け出がない場合には、現在登録されている連絡先に対して通知または連絡を行ったものとします。
        </p>
      </div>

      <div class="pb-6">
        <p class="text-lg text-center py-3">第12条（権利義務の譲渡の禁止）</p>
        <p>
          ユーザーは、当社の書面による事前の承諾なく、利用契約上の地位または本規約に基づく権利または義務を他人に譲渡してはならないものとします。
        </p>
      </div>

      <div class="pb-6">
        <p class="text-lg text-center py-3">第13条（準拠法・裁判管轄）</p>
        <ol class="list-decimal">
          <li>
            本規約の解釈にあたっては、日本法を準拠法とします。
          </li>
          <li>
            本サービスに関して紛争が生じた場合には、当社の本店所在地を管轄する裁判所を専属的合意管轄とします。
          </li>
        </ol>
      </div>

      <div class="text-center pb-6">
        <p>以上</p>
      </div>
    </div>
  </div>
</div>


