<% @albums.each do |album| %>
  <div class="w-full max-w-lg py-8 flex flex-row items-center justify-center mx-auto bg-[#fdeeee] rounded-lg shadow-xl">
    <div class="flex flex-col md:flex-row w-3/4 md:w-5/6 space-y-4 md:space-x-8">
      <div class="w-full md:w-2/5 flex flex-col items-center justify-center">
        <img class="w-24 h-24" src="<%= album.cover_image %>" alt="album cover"> <!-- Assuming cover_image is a valid attribute for album -->
        <div class="flex space-x-2">
          <button>
            <svg class="w-6 h-6 text-gray-400" viewBox="0 0 24 24">
              <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
            </svg>
          </button>
          <svg class="w-6 h-6 text-gray-400" viewBox="0 0 24 24">
            <path d="M8 5v14l11-7z"></path>
          </svg>
        </div>
      </div>
      <div class="w-full md:w-3/5 flex flex-col items-center justify-center space-y-4">
        <div class="text-center md:text-left text-2xl font-bold text-gray-900"><%= album.name %></div>
        <p class="text-gray-700 font-normal leading-6"><%= album.idol.name %></p> <!-- Assuming idol is a valid association for album -->
      </div>
    </div>
  </div>
<% end %>
