<h1 class="text-3xl font-semibold text-center mb-24 pt-20">作業する写真を選んでね！！</h1>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">
  <% @photos.each do |photo| %>
    <div class="flex flex-col items-center">
      <%= link_to new_image_composite_path(photo_id: photo.id) do %>
        <%= image_tag(photo.image.url, class: 'w-full h-auto rounded-lg') %>
      <% end %>
    </div>
  <% end %>
</div>
